
.anfahrt-wrapper{
  padding: 45px 10%;
  font-size: 15px;
}
.adresse-info{
  padding: 10px 15px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.map-div{
  margin: 0 auto;
  text-align: center;
}
