<div class="container anfahrt-ueberschrift">
  <div class="center header-sec">
    Anfahrt
  </div>
  <p class="center beschreibung">
      Unsere Praxis befindet sich im Herzen Pforzheims, direkt am Turnplatz. Immer mittwochs gibt es hier einen Wochenmarkt und sonst bietet dieser Platz genügend Parkmöglichkeiten für unsere Patienten. Im Toreingang des Wellendorff-Gebäudes finden Sie rechts den Eingang zu unserer Praxis.
  </p>
</div>

<div class="anfahrt-wrapper">
  <div class="row">
    <div class="col-sm-6 col-xs-12 adresse-info">
      <div class="adresse-anfahrt">
        <strong>Anfahrt</strong> <br>
        Dres. Christoph und Martina Wehrheim<br>
        Alexander-Wellendorffstraße 2a <br>
        75172 Pforzheim
      </div>
      <div class="telefon-anfahrt">
        <strong>Telefon:</strong> <br>
        07231/313673
      </div>
      <div class="fax-anfahrt">
        <strong>Fax:</strong> <br>
        07231/313672
      </div>
      <div class="email-anfahrt">
        <strong>E-mail:</strong> <br>
        praxiswehri@onlinehome.de
      </div>


    </div>
    <div class="col-sm-6 col-xs-12 map-div">
      <div id="map" style="width:100%;">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10493.427613568381!2d8.693432!3d48.889535!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xeaa843356defd5da!2sPraxis+Dr.+Wehrheim!5e0!3m2!1sde!2sde!4v1538941122198" frameborder="0" style="border:0; margin: 0 auto;min-height: 300px; width: 100%;" allowfullscreen></iframe>
      </div>

      <!-- width="100%" min-height="400" -->
<!--       <div
        id="map"
        style="width: 100%;
        height: 600px;"
        data-markers="lat: 48.889535,
        lng: 8.693432"
      ></div> -->
<!--       <script>
        function myMap() {
            var mapOptions = {
                center: new google.maps.LatLng(51.5, -0.12),
                zoom: 10,
                mapTypeId: google.maps.MapTypeId.HYBRID
            }
        var map = new google.maps.Map(document.getElementById("map"), mapOptions);
        }
      </script> -->
    </div>
  </div>
</div>

