<div class="container team-ueberschrift">
  <div class="center header-sec">
    Unser Team
  </div>
  <p class="center beschreibung">
      Die Zahnarztpraxis Dres. Wehrheim ist eine seit fast 100 Jahren familengeführte Praxis. Heute stehen wir für moderne Behandlungsmethoden und Digitalisierung in jeglichem Bereich der Zahnheilkunde und Unternehmensführung. Neben der Implantologie, liegen unsere Spezialgebiete auch in dem hochwertigen Zahnersatz aus Deutschland und zahn- und implantaterhaltenden Prophylaxe.
  </p>
</div>

<div class="team-wrapper">
  <div class="team-card">
    <div class="team-member-name">
      Dr. Martina Wehrheim
    </div>
    <div class="team-member-pic" style="background-image: url(https://res.cloudinary.com/dckfp34gk/image/upload/v1538931143/Dr-Wehrheim/team-member.jpg);"=>

    </div>
    <div class="team-member-titel">
      Zahnärztin
    </div>
  </div>
  <div class="team-card">
    <div class="team-member-name">
      Dr. Martina Wehrheim
    </div>
    <div class="team-member-pic" style="background-image: url(https://res.cloudinary.com/dckfp34gk/image/upload/v1538931143/Dr-Wehrheim/team-member.jpg);"=>

    </div>
    <div class="team-member-titel">
      Zahnärztin
    </div>
  </div>
  <div class="team-card">
    <div class="team-member-name">
      Dr. Martina Wehrheim
    </div>
    <div class="team-member-pic" style="background-image: url(https://res.cloudinary.com/dckfp34gk/image/upload/v1538931143/Dr-Wehrheim/team-member.jpg);"=>

    </div>
    <div class="team-member-titel">
      Zahnärztin
    </div>
  </div>

</div>

<!-- Öffnungszeiten und Anfahrts-Infos -->

<div class="infos">
  <div class="row">

    <div class="col-xs-12 col-sm-4 info-boxes">
      <div style="width: 100%">
        <div class="info-header weiss">
          <i class="fa fa-clock-o weiss"></i>
          &ensp;
          <div>Öffnungszeiten</div>
        </div>
        <div class="oeffnungszeiten">
          <div class="col-xs-1 oeff1">
            <div>Mo:</div>
            <div>Di:</div>
            <div>Mi:</div>
            <div>Do:</div>
            <div>Fr:</div>
          </div>
          <div class="col-xs-10 oeff2">
            <div>9:00-13:00 & 15:00-18:00</div>
            <div>9:00-13:00 & 15:00-18:00</div>
            <div>9:00-13:00 & 15:00-18:00</div>
            <div>9:00-13:00 & 15:00-18:00</div>
            <div>9:00-13:00</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 info-boxes">
      <div style="width: 100%">
        <div class="info-header weiss">
          <i class="fa fa-comments"></i>
          &ensp;
          <div>Kontakt</div>
        </div>
        <div class="adresse">
          <div>Praxis Dr. Wehrheim</div>
          <div>Alexander-Wellendorff-Str. 2A</div>
          <div>75172 Pforzheim</div>
        </div>
        <div class="tel">
          <div>Telefon: 07231/313673</div>
          <div>Fax: 07231/313672</div>
          <div>E-Mail: praxiswehri@onlinehome.de</div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 info-boxes">
      <a href="https://www.google.de/maps/dir/50.1230845,8.6422256/Praxis+Dr.+Wehrheim,+Alexander-Wellendorf-Stra%C3%9Fe+2,+75172+Pforzheim/@49.4554671,7.6946711,8z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x4797721a0a34c9c7:0xeaa843356defd5da!2m2!1d8.693432!2d48.889535" class="googlelink">
        <img src="https://res.cloudinary.com/dckfp34gk/image/upload/v1538913718/Dr-Wehrheim/Karte-Praxis.png" alt="Karte" class="googlemap">
      </a>
    </div>
  </div>
</div>

